.modal-container {
  z-index: 50;
}

.backdrop {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);

}

@tailwind base;
@tailwind components;
@tailwind utilities;